<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/nm/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nm/tether/css/tether.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <pre><%= dump %></pre>
    <script src="/nm/jquery/jquery.min.js"></script>
    <script src="/nm/tether/js/tether.min.js"></script>
    <script src="/nm/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
